html, body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-weight: 100;
	.appWrapper {
		.icon {
			z-index: 1;
			text-align: right;
			top: 0;
			left: 0;
			right: 0;
			position: absolute;

			.images {
			    border-radius: 50px;
			    width: 80px;
			    margin: 1.5%;
			    border: 2px solid #ff0066;
			}
		}
	}
	.home-page {
		padding: 150px 0;

		.title {
			text-align: center;
			padding-top: 3%;
		}
		.content-wrapper {
			font-weight: 100;
			letter-spacing: 1.5px;
			text-align: center;
		    padding: 3% 0;

		    @media screen and (max-width: 640px) {
		    	overflow: hidden;
		    }

		    a {
		    	text-decoration: none;
		    }
			
			.content-subj {
				display: inline-block;
				width: 68px;
				color: #fff;
				height: 100%;
				text-align: left;
				margin: 0 0.5%;

				@media screen and (max-width: 640px) {
					display: block;
					width: 100%;
				}

				.title {
					font-family: Helvetica, Arial;
					padding: 0 5px;
					writing-mode: tb-rl;
					text-orientation: upright;
					letter-spacing: 8px;
					margin: 9px 0;

					@media screen and (max-width: 640px) {
						text-orientation: initial;
						writing-mode: horizontal-tb;
						text-align: left;
					}
				}
			}

			.tab-about {
				background: #d5c6b0;
				border: 5px solid #d5c6b0;

				&:hover {
					background: #fff;
					border: 5px solid #d5c6b0;
					color: #000;
				}
			}
			.tab-work {
				background: #e7baa0;
				border: 5px solid #e7baa0;
				&:hover {
					background: #fff;
					border: 5px solid #e7baa0;
					color: #000;
				}
			}
			.tab-runs {
				background: #96443a;
				border: 5px solid #96443a;
				&:hover {
					background: #fff;
					border: 5px solid #96443a;
					color: #000;
				}
			}
			.tab-contact {
				background: #520303;
				border: 5px solid #520303;
				&:hover {
					background: #fff;
					border: 5px solid #520303;
					color: #000;
				}
			}
		}
	}

	.fixed-left {
		background: #520303;
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 300px;
	    z-index: 1;

	    p {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			color: #fff;
			font-size: -webkit-xxx-large;
	    }
	}
}

@media screen and (max-width: 640px) {
	html, body {
		.appWrapper {
			.icon {
				.images {
					width: 50px;
					margin: 3%;
				}
			}
		}
		.home-page {
		    padding: 100px 0;

			.content-wrapper {
				padding-top: 50px;

				.content-subj {
					width: 95%;
					margin: 0 auto;
					height: 100px;
					margin-bottom: 5px;
				}
			}
		}
		.fixed-left {
			height: 120px;
			width: 100%;
			bottom: 0;
			top: initial;

			p {
			    font-size: xx-large;
			}
		}
	}
}