.contactWrapper .fixed-left {
  background: #520303; 
}

/* .email {
    // padding: 30% 0 3% 0;
    text-align: center;
} */

.email a {
    padding: 12px 60px;
	border: 3px solid #520303;
	color: #520303;
	text-decoration: none;
}

.email a:hover {
	background: #520303;
	border: 3px solid #fff;
	color: #fff;
}

.social {
	margin-top: 45px;
	margin-bottom: 90px;
}

.social ul {
	text-align: center;
	padding: 0;
	list-style-type: none;
}

.social ul li {
	display: inline-block;
	margin: 0 5px;
}

.social ul li img {
	width: 20px;
}

.social ul li img:hover {
	opacity: 0.5;
}

.contact-wrapper {
	padding-left: 300px;
}

.contact-content {
	width: 90%;
    margin: 0 auto;
    padding: 200px 0;
}

.map-wrapper {
	height: 230px;
}

@media screen and (max-width: 640px) {
	.contact-wrapper {
		padding-left: initial;
	}

	.contact-content {
		width: 90%;
		position: absolute;
		left: 0;
		right: 0;
		padding: 168px 0;
	}
}

@media screen and (max-width: 490px) {
	.social {
	    margin-top: 40px;
	    margin-bottom: 50px;
	}
	.map-wrapper {
		height: 280px;
	}
}

